//////////////////////////////////////////////////
// Abstracts :: Variables
//////////////////////////////////////////////////

////////// Color :: White //////////
$white: #fff;
$white-2: #F3FAE1;


////////// Color :: Black //////////
$black: #000;
$black-2: #272838;


////////// Color :: Yellow //////////
$yellow: #FFFC31;


////////// Color :: Purple //////////
$purple: #A7ABDD;


////////// Color :: Red //////////
$red: #EB9486;
