//////////////////////////////////////////////////
// Abstracts :: Variables
//////////////////////////////////////////////////

////////// Color :: White //////////
$white: #fff;
$white-2: #f1f3f5;

////////// Color :: Black //////////
$black: #345;
$black-2: #272838;

////////// Color :: Gray //////////
$gray: #89a;
$gray-2: #556677;
$gray-3: #f8f9fa;

////////// Color :: Yellow //////////
$yellow: #FFFC31;


////////// Color :: Purple //////////
$purple: #745fb5;

////////// Color :: Red //////////
$red: #EB9486;

////////// Color :: Blue //////////
$blue: #26648e;
