//////////////////////////////////////////////////
// Layouts :: Default
//////////////////////////////////////////////////

.red {
  color: $red;
}

.title {
  color: $purple;
  font-size: 1.4rem;
  background: $white-2;
  border-bottom: 1px solid $purple;
}
