//////////////////////////////////////////////////
// Layouts :: Default
//////////////////////////////////////////////////

.app-nav {
  .v-toolbar__content {
    padding: 0;
  }
}

.app-title {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
